[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/vendor/miniaudio"]
	path = engine/vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "engine/vendor/json"]
	path = engine/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "engine/vendor/ecs"]
	path = engine/vendor/ecs
	url = https://github.com/martinstarkov/ecs.git
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/vendor/msdf-atlas-gen"]
	path = engine/vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "engine/vendor/freetype"]
	path = engine/vendor/freetype
	url = https://github.com/freetype/freetype.git
[submodule "engine/vendor/ogg"]
	path = engine/vendor/ogg
	url = https://github.com/xiph/ogg.git
[submodule "engine/vendor/vorbis"]
	path = engine/vendor/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "engine/vendor/nativefiledialog-extended"]
	path = engine/vendor/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "engine/vendor/magic_enum"]
	path = engine/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
