[submodule "modules/ecs"]
	path = modules/ecs
	url = https://github.com/martinstarkov/ecs.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent.git
